@import url("https://fonts.googleapis.com/css?family=Droid+Sans:700|Satisfy|Bitter");
body {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

p {
  max-width: 800px;
  font-family: 'Bitter', serif;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px; }

#navbar {
  z-index: 5;
  width: 100vw;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  display: none;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  #navbar #logo img {
    width: 120px; }
  #navbar .barBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    justify-content: center; }
    #navbar .barBlock .blockBlock {
      height: 100%;
      padding: 20px;
      font-family: 'Bitter', serif;
      transition: 0.2s ease;
      color: black;
      text-decoration: none; }
      #navbar .barBlock .blockBlock:hover {
        color: #30ADD6; }

.block {
  width: 100vw; }
  .block h1 {
    color: white;
    margin: 0;
    font-family: 'Satisfy', cursive;
    font-size: 80pt;
    width: 80vw;
    margin-left: 5vw;
    padding-top: 15vh; }
  .block h2 {
    color: white;
    margin: 0;
    font-family: 'Bitter', serif;
    margin-left: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25pt; }

.picBlock {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }
  .picBlock .p {
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat; }
    .picBlock .p .title {
      width: 100%;
      text-align: center;
      color: white;
      font-family: 'Droid Sans', sans-serif;
      font-size: 46px; }
    .picBlock .p .sub {
      margin-top: 15px;
      color: white;
      font-family: 'Bitter', serif;
      font-size: 26px; }
  .picBlock .p1 {
    width: 40vw;
    background-image: url("https://chris-sarli.github.io/FEC/img/movie.jpg");
    background-position: left center; }
  .picBlock .p2 {
    width: 60vw;
    background-image: url("https://chris-sarli.github.io/FEC/img/board.jpg"); }
  .picBlock .p3 {
    width: 100vw;
    background-image: url("https://chris-sarli.github.io/FEC/img/food.jpg"); }

.picContent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h3 {
  color: black;
  margin: 0;
  font-family: 'Bitter', serif;
  font-size: 45pt;
  width: 100vw;
  text-align: center;
  padding-top: 50px;
  font-weight: 400; }

.dubBlock {
  width: 80vw;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.oneBlock {
  width: 48%;
  font-family: 'Bitter', serif;
  line-height: 180%;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box; }
  .oneBlock h6 {
    font-size: 26px;
    margin-bottom: 10px; }
  .oneBlock:first-of-type {
    border-right: 1px solid black; }
  .oneBlock:last-of-type {
    text-align: right; }

.shader {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  z-index: 3; }

#wheelBlock {
  z-index: 0;
  height: auto;
  min-height: 100vh;
  background-image: url("https://chris-sarli.github.io/FEC/img/wheel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0 -10px 30px -10px rgba(0, 0, 0, 0.5); }

@media only screen and (max-height: 550px) {
  #wheelBlock h1, #wheelBlock h2 {
    margin: 0 auto;
    text-align: center;
    width: 85vw; }
  #wheelBlock h1 {
    padding-top: 20px !important;
    line-height: 130%;
    font-size: 50pt; }
  #wheelBlock h2 {
    margin-top: 5px !important;
    padding-top: 5px;
    border-top: 1px solid white;
    font-size: 30pt; }
  #wheelBlock .shader {
    background-color: rgba(0, 0, 0, 0.6); } }

@media only screen and (max-width: 750px) {
  #wheelBlock h1, #wheelBlock h2 {
    margin: 0 auto;
    text-align: center;
    width: 85vw; }
  #wheelBlock h1 {
    padding-top: 60px;
    line-height: 130%;
    font-size: 50pt; }
  #wheelBlock h2 {
    font-size: 30pt;
    margin-top: 25px !important;
    padding-top: 30px;
    border-top: 1px solid white; }
  #wheelBlock .shader {
    background-color: rgba(0, 0, 0, 0.6); } }
