@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Satisfy|Bitter|Montserrat:400,600,700,800,900')

body
	margin: 0

a
	color: black
	text-decoration: none

p
	max-width: 800px
	font-family: 'Droid Sans', sans-serif
	margin: 0 auto
	margin-top: 20px
	font-size: 20px

#navbar
	z-index: 5
	width: 100%
	height: 90px
	background-color: rgba(255,255,255,.97)
	position: fixed
	top: -90px
	transition: 0.1s ease
	display: none
	box-sizing: border-box
	padding: 10px
	padding-left: 30px
	padding-right: 30px
	display: flex
	align-items: center
	flex-direction: row
	justify-content: space-between
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
	#logo img
		width: 120px

.showNav
	top: 0px !important

	.barBlock
		display: flex
		flex-direction: row
		align-items: center
		margin-right: 8px
		justify-content: center
		.blockBlock
			height: 100%
			padding: 16px
			font-family: 'Droid Sans', sans-serif
			transition: 0.2s ease
			color: black
			text-decoration: none
			&:hover
				color: #30ADD6

.block
	width: 100%

	h1
		color: white
		margin: 0
		font-family: 'Satisfy', cursive
		font-size: 80pt
		width: 80vw
		margin-left: 5vw
		padding-top: 15vh
	h2
		color: white
		margin: 0
		font-family: 'Droid Sans', sans-serif
		margin-left: 5vw
		text-transform: uppercase
		font-weight: 700
		font-size: 25pt

.textBlock
	&.longer

.picBlock
	height: 400px
	display: flex
	flex-direction: row
	align-items: center
	flex-wrap: wrap
	.p
		background-size: cover
		height: 50%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		background-position: center center
		background-repeat: no-repeat
		.title
			width: 100%
			text-align: center
			color: white
			font-family: 'Droid Sans', sans-serif
			font-size: 46px
		.sub
			margin-top: 15px
			color: white
			font-family: 'Droid Sans', sans-serif
			font-size: 26px

	.p1
		width: 40vw
		background-image: url('https://chris-sarli.github.io/FEC/img/movie.jpg')
		background-position: left center
	.p2
		width: 60vw
		background-image: url('https://chris-sarli.github.io/FEC/img/board.jpg')
	.p3
		width: 100%
		background-image: url('https://chris-sarli.github.io/FEC/img/food.jpg')

.picContent
	background-color: rgba(0,0,0,0.2)
	width: 100%
	height: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center


h3
	color: black
	margin: 0
	font-family: 'Droid Sans', sans-serif
	font-size: 45pt
	width: 100%
	text-align: center
	padding-top: 50px
	font-weight: 400

.dubBlock
	width: 80vw
	max-width: 700px
	margin: 0 auto
	margin-top: 30px
	display: flex
	flex-direction: row
	justify-content: center

.oneBlock
	width: 48%
	font-family: 'Droid Sans', sans-serif
	line-height: 180%
	padding: 20px
	padding-top: 0px
	box-sizing: border-box
	h6
		font-size: 26px
		margin-bottom: 10px
	&:first-of-type
		border-right: 1px solid black
	&:last-of-type
		text-align: right

.shader
	z-index: 1
	position: absolute
	width: 100%
	margin-top: -50px
	padding-top: 50px
	box-sizing: border-box
	height: 100%
	background-color: rgba(0, 0, 0, 0.0)

h1, h2, h3, h4, h5, h6
	z-index: 3

#wheelBlock
	z-index: 0
	box-sizing: border-box
	height: auto
	min-height: 100vh
	background-image: url('https://chris-sarli.github.io/FEC/img/wheel.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center top
	box-shadow: inset 0 -10px 30px -10px rgba(0,0,0,0.5)

#mobileNavButton
	position: fixed
	display: none
	width: 100%
	height: 75px
	background-color: rgba(255, 255, 255, 0.97)
	border-bottom: 1px solid rgba(0, 0, 0, 0.4)
	top: -75px
	transition: all 0.2s ease
	left: 0px
	z-index: 5
	flex-direction: column
	align-items: center
	justify-content: center
	.row
		width: 100%
		//height: auto
		display: none
		flex-direction: row
		align-items: center
		justify-content: center
		font-size: 30px
		box-sizing: border-box
		font-family: 'Droid Sans', sans-serif
		padding: 15px
		&.nav
			display: flex
			//top: 0px
			//padding: 0px
			img
				height: 45px
				transition: 0.3s ease
				//margin-bottom: 5px
			.toggle
				cursor: pointer
				$toggleSize: 35px
				height: 25px
				position: absolute
				right: 20px
				width: $toggleSize
				img
					width: 100%
					height: 100%

.showMobileNavButton
	top: 0px !important

.fullMobileNav
	overflow: scroll !important
	background-color: white !important
	height: 100vh !important
	padding-bottom: 30px
	.row.nav
		#toggle
			opacity: 0
		img
			height: 90px !important

.showRow
	display: flex !important

.pageContent
	margin: 0

.holdIt
	overflow: hidden

.bottomContent
	width: 100%
	margin-top: 0px
	margin: 0px
	.section
		width: 100%
		margin: 0px
		//min-height: 550px
		height: auto
		background-size: cover
		padding-bottom: 30px
		background-position: center left
		.shadey
			width: 100%
			display: flex
			flex-direction: column
			align-items: flex-end
			justify-content: flex-start
			height: 100%
			background-color: rgba(0, 0, 0, 0)
			.para
				font-family: 'Droid Sans', sans-serif
				font-size: 1.2em
				width: 90vw
				max-width: 500px
				line-height: 140%
				margin-bottom: 15px
				margin-right: 50px
				text-align: right
				margin-top: 50px
				box-sizing: border-box
		h1
			margin: 0px
			font-family: 'Montserrat', sans-serif
			font-weight: 800
			width: 80vw
			max-width: 600px
			margin-top: 20px
			line-height: 100%
			margin-right: 50px
			text-align: right
			font-size: 7rem
	#m1
		background-image: url('https://chris-sarli.github.io/FEC/img/lift.jpg')
		color: black
		.para
			max-width: 400px
			text-align: left
			margin-right: 100px
	#m1
		background-image: url('https://chris-sarli.github.io/FEC/img/clock.jpg')
		color: black
		.para
			max-width: 400px
			text-align: left
			margin-right: 100px
	#m2
		background-image: url('https://chris-sarli.github.io/FEC/img/balloon.jpg')
		color: black
		text-align: left !important
		padding-bottom: 0px
		.shadey
			background-color: rgba(255, 255, 255, 0.35)
			justify-content: flex-start
			padding-bottom: 30px
			align-items: flex-start
		h1
			width: 85vw
			text-align: left
			font-size: 5rem
			margin-left: 50px
			min-width: 85vw !important
		.para
			max-width: 400px
			margin-left: 50px
			text-align: left

.miniBlocks
	width: 90vw
	margin-top: 10px
	margin-left: 5vw
	display: flex
	font-family: 'Droid Sans', sans-serif
	flex-direction: row
	align-items: flex-start
	justify-content: center
	flex-wrap: wrap
	.mBlock
		h2
			margin: 0px
			text-align: center
		width: 190px
		min-height: 150px
		border-radius: 5px
		background-color: rgba(255, 255, 255, 0.61)
		margin: 10px
		padding: 10px

@media only screen and (max-height: 550px)
	#arrowCirc
		display: none !important
	.pageContent
		//margin-top: 50px
	#mobileNavButton
		display: flex
	#navbar
		display: none
	#wheelBlock
		padding-top: 50px
	#wheelBlock, .shader
		height: 350px !important
		min-height: 350px !important
		h1, h2
			margin: 0 auto
			text-align: center
			width: 85vw
		h1
			padding-top: 0px !important
			line-height: 130%
			font-size: 50pt
		h2
			margin-top: 5px !important
			padding-top: 10px
			border-top: 1px solid white
			font-size: 30pt
		.shader
			background-color: rgba(0, 0, 0, 0.6)
	.shadey
		//background-color: rgb(255, 255, 255) !important
	.section
		//min-height: calc(100vh - 80px)
	.section h1
		right: auto !important
		max-width: 1000px
	#m1 h1
		font-size: 4em !important
		margin-right: 25px
		text-align: right
	#m1 .para
		margin-right: 25px !important
		font-size: 1.1rem


@media only screen and (max-height: 350px)
	#wheelBlock
		//margin-top: 50px
		h1, h2
			margin: 0 auto
			text-align: center
			width: 85vw
		h1
			display: none
		h2
			padding-top: 30px
			border-top: 0px solid white !important
			font-size: 30pt
		.shader
			background-color: rgba(0, 0, 0, 0.6)

.circCont
	position: absolute
	bottom: 0px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	width: 100%

#arrowCirc
	width: 35px
	height: 35px
	border-radius: 50%
	background-color: rgba(255, 255, 255, 0.85)
	border: none
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)
	display: flex
	flex-direction: row
	align-items: center
	transition: 0.2s ease
	justify-content: center
	cursor: pointer
	animation: upDown 5s ease-in-out 2s infinite
	&:hover
		transform: scale(1.1)
		background-color: rgba(255, 255, 255, 0.96)
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.29)
	img
		margin: 0 auto
		width: 15px

@media only screen and (max-width: 950px)
	#m2 h1
		text-align: center !important

@media only screen and (max-width: 900px)
	.p1, .p2, .p3
		width: 100% !important
	.section
		padding-bottom: 10px !important
		border-bottom: 1px solid white
	#m2
		padding-bottom: 0px !important
	#m1
		padding-bottom: 0px !important
	#m1 .shadey
		align-items: center !important
		justify-content: center !important
		h1
			font-size: 4rem
			text-align: center
			margin-right: 0px
		.para
			margin-right: 0px
			padding: 15px
			background-color: rgba(255, 255, 255, 1)
			border-radius: 8px
			border-bottom-left-radius: 0px
			border-bottom-right-radius: 0px
			min-width: 65vw
			margin-top: 200px !important
			font-size: 1rem
			margin-bottom: 0px !important

@media only screen and (max-width: 750px)
	#arrowCirc
		display: none
	.pageContent
		//margin-top: 50px
	#mobileNavButton
		display: flex
	#navbar
		display: none
	#wheelBlock
		padding-top: 50px
		max-height: 500px
	#wheelBlock, .shader
		height: 400px !important
		min-height: 400px !important
		h1, h2
			margin: 0 auto
			text-align: center
			width: 85vw
		h1
			padding-top: 0px
			line-height: 130%
			font-size: 50pt
		h2
			font-size: 30pt
			margin-top: 25px !important
			padding-top: 30px
			border-top: 1px solid white
		.shader
			background-color: rgba(0, 0, 0, 0.6)
	.shadey
		//background-color: rgb(255, 255, 255) !important
	.section h1
		text-align: center !important
		right: auto !important
		max-width: 1000px !important
	.section
		padding-bottom: 0px !important
	#m1
		background-position: right
		padding-bottom: 0px !important
	#m1 .shadey
		align-items: center !important
		justify-content: center !important
		h1
			font-size: 3rem
			text-align: center
			margin-right: 0px
		.para
			margin: 0px
			margin-right: 0px !important
			padding: 15px
			background-color: rgba(255, 255, 255, 0.9)
			border-radius: 0px
			min-width: 100%
			margin-top: 140px !important
			font-size: 1rem
	#m2 .shadey
		h1
			width: 90vw
			text-align: center
			margin-left: 5vw
			font-size: 3rem

@media only screen and (max-width: 500px)
	#m1
		background-position: top
	.mBlock
		width: 85vw !important
		ul
			font-size: 1.2em

@keyframes upDown
	0%
		transform: translateY(0px)
	50%
		transform: translateY(5px)
	100%
		transform: translate(0px)
