@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Satisfy|Bitter|Montserrat:400,600,700,800,900");
body {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

p {
  max-width: 800px;
  font-family: 'Droid Sans', sans-serif;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px; }

#navbar {
  z-index: 5;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: -90px;
  transition: 0.1s ease;
  display: none;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  #navbar #logo img {
    width: 120px; }

.showNav {
  top: 0px !important; }
  .showNav .barBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    justify-content: center; }
    .showNav .barBlock .blockBlock {
      height: 100%;
      padding: 16px;
      font-family: 'Droid Sans', sans-serif;
      transition: 0.2s ease;
      color: black;
      text-decoration: none; }
      .showNav .barBlock .blockBlock:hover {
        color: #30ADD6; }

.block {
  width: 100%; }
  .block h1 {
    color: white;
    margin: 0;
    font-family: 'Satisfy', cursive;
    font-size: 80pt;
    width: 80%;
    margin-left: 5%;
    padding-top: 15vh; }
  .block h2 {
    color: white;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    margin-left: 5%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25pt; }

.picBlock {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }
  .picBlock .p {
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat; }
    .picBlock .p .title {
      width: 100%;
      text-align: center;
      color: white;
      font-family: 'Droid Sans', sans-serif;
      font-size: 46px; }
    .picBlock .p .sub {
      margin-top: 15px;
      color: white;
      font-family: 'Droid Sans', sans-serif;
      font-size: 26px; }
  .picBlock .p1 {
    width: 40%;
    background-image: url("https://chris-sarli.github.io/FEC/img/movie.jpg");
    background-position: left center; }
  .picBlock .p2 {
    width: 60%;
    background-image: url("https://chris-sarli.github.io/FEC/img/board.jpg"); }
  .picBlock .p3 {
    width: 100%;
    background-image: url("https://chris-sarli.github.io/FEC/img/food.jpg"); }

.picContent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h3 {
  color: black;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 45pt;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-weight: 400; }

.dubBlock {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.oneBlock {
  width: 48%;
  font-family: 'Droid Sans', sans-serif;
  line-height: 180%;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box; }
  .oneBlock h6 {
    font-size: 26px;
    margin-bottom: 10px; }
  .oneBlock:first-of-type {
    border-right: 1px solid black; }
  .oneBlock:last-of-type {
    text-align: right; }

.shader {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: -50px;
  padding-top: 50px;
  box-sizing: border-box;
  height: 100%;
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  z-index: 3; }

#wheelBlock {
  z-index: 0;
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  background-image: url("https://chris-sarli.github.io/FEC/img/wheel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: inset 0 -10px 30px -10px rgba(0, 0, 0, 0.5); }

#mobileNavButton {
  position: fixed;
  display: none;
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  top: -75px;
  transition: all 0.2s ease;
  left: 0px;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #mobileNavButton .row {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    padding: 15px; }
    #mobileNavButton .row.nav {
      display: flex; }
      #mobileNavButton .row.nav img {
        height: 45px;
        transition: 0.3s ease; }
      #mobileNavButton .row.nav .toggle {
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: 20px;
        width: 35px; }
        #mobileNavButton .row.nav .toggle img {
          width: 100%;
          height: 100%; }

.showMobileNavButton {
  top: 0px !important; }

.fullMobileNav {
  overflow: scroll !important;
  background-color: white !important;
  height: 100vh !important;
  padding-bottom: 30px; }
  .fullMobileNav .row.nav #toggle {
    opacity: 0; }
  .fullMobileNav .row.nav img {
    height: 90px !important; }

.showRow {
  display: flex !important; }

.pageContent {
  margin: 0; }

.holdIt {
  overflow: hidden; }

.bottomContent {
  width: 100%;
  margin-top: 0px;
  margin: 0px; }
  .bottomContent .section {
    width: 100%;
    margin: 0px;
    height: auto;
    background-size: cover;
    padding-bottom: 30px;
    background-position: center left; }
    .bottomContent .section .shadey {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100%;
      background-color: transparent; }
      .bottomContent .section .shadey .para {
        font-family: 'Droid Sans', sans-serif;
        font-size: 1.2em;
        width: 90%;
        max-width: 500px;
        line-height: 140%;
        margin-bottom: 15px;
        margin-right: 50px;
        text-align: right;
        margin-top: 50px;
        box-sizing: border-box; }
    .bottomContent .section h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      margin-top: 20px;
      line-height: 100%;
      font-size: 7rem; }
  .bottomContent #m1 {
    background-image: url("https://chris-sarli.github.io/FEC/img/lift.jpg");
    color: black; }
    .bottomContent #m1 h1 {
      margin: 0px;
      width: 80%;
      max-width: 600px;
      margin-right: 50px;
      text-align: right; }
    .bottomContent #m1 .para {
      max-width: 400px;
      text-align: left;
      margin-right: 100px; }
  .bottomContent #m3 {
    background-image: url("https://chris-sarli.github.io/FEC/img/clock.jpg");
    color: black; }
    .bottomContent #m3 .para {
      max-width: 400px;
      text-align: left;
      margin-right: 100px; }
  .bottomContent #m2 {
    background-image: url("https://chris-sarli.github.io/FEC/img/balloon.jpg");
    color: black;
    text-align: left !important;
    padding-bottom: 0px; }
    .bottomContent #m2 .shadey {
      background-color: rgba(255, 255, 255, 0.35);
      justify-content: flex-start;
      padding-bottom: 30px;
      align-items: flex-start; }
    .bottomContent #m2 h1 {
      width: 100%;
      text-align: center;
      font-size: 5rem;
      box-sizing: border-box;
      min-width: 85% !important; }
    .bottomContent #m2 .para {
      max-width: 400px;
      margin-left: 50px;
      text-align: left; }

.miniBlocks {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  display: flex;
  font-family: 'Droid Sans', sans-serif;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap; }
  .miniBlocks .mBlock {
    width: 190px;
    min-height: 150px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding: 10px; }
    .miniBlocks .mBlock h2 {
      margin: 0px;
      text-align: center;
      padding-bottom: 7px;
      border-bottom: 1px solid rgba(181, 181, 181, 0.3); }

@media only screen and (max-height: 550px) {
  #arrowCirc {
    display: none !important; }
  #mobileNavButton {
    display: flex; }
  #navbar {
    display: none; }
  #wheelBlock {
    padding-top: 50px; }
  #wheelBlock, .shader {
    height: 350px !important;
    min-height: 350px !important; }
    #wheelBlock h1, #wheelBlock h2, .shader h1, .shader h2 {
      margin: 0 auto;
      text-align: center;
      width: 85%; }
    #wheelBlock h1, .shader h1 {
      padding-top: 0px !important;
      line-height: 130%;
      font-size: 50pt; }
    #wheelBlock h2, .shader h2 {
      margin-top: 5px !important;
      padding-top: 10px;
      border-top: 1px solid white;
      font-size: 30pt; }
    #wheelBlock .shader, .shader .shader {
      background-color: rgba(0, 0, 0, 0.6); }
  .section h1 {
    right: auto !important;
    max-width: 1000px; }
  #m1 h1 {
    font-size: 4em !important;
    margin-right: 25px;
    text-align: right; }
  #m1 .para {
    margin-right: 25px !important;
    font-size: 1.1rem; } }

@media only screen and (max-height: 350px) {
  #wheelBlock h1, #wheelBlock h2 {
    margin: 0 auto;
    text-align: center;
    width: 85%; }
  #wheelBlock h1 {
    display: none; }
  #wheelBlock h2 {
    padding-top: 30px;
    border-top: 0px solid white !important;
    font-size: 30pt; }
  #wheelBlock .shader {
    background-color: rgba(0, 0, 0, 0.6); } }

.circCont {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

#arrowCirc {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  box-shadow: 0px 0px 0px 0px transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s ease;
  justify-content: center;
  cursor: pointer;
  animation: upDown 5s ease-in-out 2s infinite; }
  #arrowCirc:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.29); }
  #arrowCirc img {
    margin: 0 auto;
    width: 15px; }

#m4 .shadey {
  align-items: center;
  justify-content: center; }
  #m4 .shadey h1 {
    margin-bottom: 20px; }
  #m4 .shadey .para {
    text-align: left;
    width: auto !important;
    max-width: 90% !important;
    margin: 0px;
    margin-bottom: 15px; }

.hl {
  color: #30ADD6; }

@media only screen and (max-width: 950px) {
  #m2 h1 {
    text-align: center !important; } }

@media only screen and (max-width: 900px) {
  .p1, .p2, .p3 {
    width: 100% !important; }
  .section {
    padding-bottom: 10px !important;
    border-bottom: 1px solid white; }
  #m2 {
    padding-bottom: 0px !important; }
  #m1 {
    padding-bottom: 0px !important; }
  #m1 .shadey {
    align-items: center !important;
    justify-content: center !important; }
    #m1 .shadey h1 {
      font-size: 4rem;
      text-align: center;
      margin-right: 0px; }
    #m1 .shadey .para {
      margin-right: 0px;
      padding: 15px;
      background-color: white;
      border-radius: 8px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      min-width: 65%;
      margin-top: 200px !important;
      font-size: 1rem;
      margin-bottom: 0px !important; } }

@media only screen and (max-width: 750px) {
  #m4 h1 {
    font-size: 4em; }
  #arrowCirc {
    display: none; }
  #mobileNavButton {
    display: flex; }
  #navbar {
    display: none; }
  #wheelBlock {
    padding-top: 50px;
    max-height: 500px; }
  #wheelBlock, .shader {
    height: 400px !important;
    min-height: 400px !important; }
    #wheelBlock h1, #wheelBlock h2, .shader h1, .shader h2 {
      margin: 0 auto;
      text-align: center;
      width: 85%; }
    #wheelBlock h1, .shader h1 {
      padding-top: 0px;
      line-height: 130%;
      font-size: 50pt; }
    #wheelBlock h2, .shader h2 {
      font-size: 30pt;
      margin-top: 25px !important;
      padding-top: 30px;
      border-top: 1px solid white; }
    #wheelBlock .shader, .shader .shader {
      background-color: rgba(0, 0, 0, 0.6); }
  .section h1 {
    text-align: center !important;
    right: auto !important;
    max-width: 1000px !important; }
  .section {
    padding-bottom: 0px !important; }
  #m3 .shadey h1 {
    font-size: 3.8rem; }
    #m3 .shadey h1 h1 {
      text-align: center; }
  #m1 {
    background-position: right;
    padding-bottom: 0px !important; }
  #m1 .shadey {
    align-items: center !important;
    justify-content: center !important; }
    #m1 .shadey h1 {
      font-size: 3rem;
      text-align: center;
      margin-right: 0px;
      margin-top: 15px !important; }
    #m1 .shadey .para {
      margin: 0px;
      margin-right: 0px !important;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 0px;
      min-width: 100%;
      margin-top: 140px !important;
      font-size: 1rem; }
  #m2 .shadey h1 {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    font-size: 3rem; } }

.rt {
  float: right;
  font-weight: bold; }

.ct {
  text-align: center;
  margin-top: 15px; }

#m3 {
  padding-bottom: 0px; }
  #m3 .shadey {
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px; }
    #m3 .shadey .miniBlocks {
      margin-left: 0px; }
    #m3 .shadey .mBlock {
      height: auto;
      width: 250px;
      line-height: 160%; }
    #m3 .shadey h1 {
      font-size: 5rem;
      color: white;
      text-align: center; }
    #m3 .shadey .para {
      margin: 0px; }

.button {
  width: 125px;
  padding: 7px;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(48, 173, 214, 0);
  border: 1px solid black;
  transition: 0.2s ease;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer; }
  .button:hover {
    background-color: #30ADD6;
    border: 1px solid #30ADD6;
    color: white; }

@media only screen and (max-width: 500px) {
  #m4 h1 {
    font-size: 3em; }
  #m2 h1 {
    font-size: 2.2em !important; }
  #m3 h1 {
    font-size: 2em !important; }
  #m1 {
    background-position: top; }
  .mBlock {
    width: 85% !important; }
    .mBlock ul {
      font-size: 1.2em; } }

@keyframes upDown {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translate(0px); } }

#sche {
  margin-top: 7px;
  margin-bottom: 7px; }

#mo2 .modal {
  min-height: 100px;
  height: 150px !important;
  max-width: 500px;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }
  #mo2 .modal .cont {
    margin-top: 10px;
    padding: 20px; }

.nopes {
  opacity: 0.3;
  cursor: not-allowed; }
  .nopes:hover {
    color: black;
    background-color: white;
    border: 1px solid black; }

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  z-index: 7;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .modalContainer .modal {
    width: 75%;
    min-height: 85%;
    min-width: 400px;
    overflow: scroll;
    background-color: white;
    border-radius: 7px; }
    .modalContainer .modal .close {
      position: relative;
      top: 15px;
      cursor: pointer;
      transition: 0.2s ease;
      margin-right: 15px;
      margin-left: auto;
      width: 20px;
      background-size: contain;
      height: 20px;
      background-image: url("https://chris-sarli.github.io/FEC/img/close.png");
      opacity: 0.4; }
      .modalContainer .modal .close:hover {
        opacity: 0.8; }
    .modalContainer .modal .cont {
      width: 100%;
      box-sizing: border-box; }
      .modalContainer .modal .cont h3 {
        padding-top: 0px;
        font-family: 'Montserrat', sans-serif; }
      .modalContainer .modal .cont .button {
        font-family: "Montserrat", sans-serif; }
      .modalContainer .modal .cont input {
        outline: 0px;
        font-family: 'Montserrat', sans-serif;
        border: 1px solid black;
        border-radius: 6px;
        margin: 0 auto;
        padding: 10px;
        transition: 0.2s ease;
        font-size: 1.5em; }
        .modalContainer .modal .cont input:focus {
          border: 1px solid #30ADD6;
          color: #30ADD6; }
      .modalContainer .modal .cont .cal {
        width: 100%;
        margin: 15px;
        margin-left: 0px;
        margin-right: 0px;
        box-sizing: border-box;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px; }
        .modalContainer .modal .cont .cal .calR {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; }
          .modalContainer .modal .cont .cal .calR:last-of-type .CalD {
            border-bottom: 1px solid rgba(0, 0, 0, 0.19); }
          .modalContainer .modal .cont .cal .calR .CalD {
            cursor: pointer;
            height: calc(calc(calc(100vh * 0.8) - 100px) / 7);
            width: calc(calc(calc(100vw * 0.75) - 30px) / 7);
            max-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: content-box;
            justify-content: center;
            border-top: 1px solid rgba(0, 0, 0, 0.19);
            border-left: 1px solid rgba(0, 0, 0, 0.19);
            font-size: 2rem;
            transition: 0.2s ease;
            font-family: 'Montserrat', sans-serif; }
            .modalContainer .modal .cont .cal .calR .CalD .nope {
              cursor: text !important; }
            .modalContainer .modal .cont .cal .calR .CalD:last-of-type {
              border-right: 1px solid rgba(0, 0, 0, 0.19); }
            .modalContainer .modal .cont .cal .calR .CalD:hover:not(.nope) {
              background-color: #30ADD6;
              color: white; }

.it {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px; }

.thisOne {
  background-color: #1f98bf;
  color: white; }

.cent {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }
  .cent #date {
    font-family: "Montserrat", sans-serif;
    min-height: 75px;
    padding-bottom: 14px; }
  .cent .button {
    margin-top: 0px; }
  .cent .button, .cent input {
    margin-bottom: 10px !important; }

.initH {
  display: none; }
